.cell{
    width:120px;
    height:25px;
    font-size:12px;
}

.schedule tr{
    width:400px;
}

.schedule td{
    height:120px;
    width:50px;
}

.schedule{
    border:1;
}

.userInput select{
    width:200px;
}